*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    height: 100vh;
    background-color: #d7dbdd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.display-members{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 10px;
    justify-content: center;

    
}
.divCard{
    background-color: #fdfefe ;
    height: auto;
    width: 300px;
    padding: 10px;
    text-align: center;
}