*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    height: 100vh;
    background-color: #d7dbdd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.display-members{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 10px;
    justify-content: center;

    
}
.divCard{
    background-color: #fdfefe ;
    height: auto;
    width: 300px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 2px black;
}
#deletebtn{
background-color: red;
padding: 5px;
margin-right: 10px;
border: none;
cursor: pointer;
}
#updatebtn{
background-color: rgb(74, 250, 4);
padding: 5px;
margin-right: 10px;
border: none;
cursor: pointer;
}
 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: auto;
    width: 300px;
    gap: 10px;
    background-color: aquamarine;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px black;
 }
 .show{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

#addBtn{
    font-size: 1.5rem;
    padding: 5px;
    background-color: grey;
    cursor: pointer;
}
input{
font-size: 1rem;
padding: 5px;
}